@font-face {
    font-family: 'title-font';
    src: url(../Gameplay.ttf);
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;
    display: inline-block;
}

.amxgh-title {
    font-family: 'title-font';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20dvw;
    margin: 0;
}