@font-face {
    font-family: "title-font";
    src: url(../Gameplay.ttf);
}



.title-div {
    display: flex;
    height: 100dvh; /* 100% of the viewport height */
    width: 100%; /* 100% of the viewport width */
    justify-content: center;
    align-items: center;
    font-size: 20vw;
    transition: position 2s ease-in-out, font-size 0.5s ease-out, transform 2s ease-in-out;
}

.amxgh-title {
    font-family: "title-font";
    position: inherit;
    margin: 0;
    text-align: center;
    transition: font-size 1s ease, transform 1s ease;
}

.welcome-text {
    position: absolute;
    font-size: 50px;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    color: #e8cafa;
    text-align: left;
}
